body {
  margin: 0;
  font-family: arial;
}

.cornerthing 
{
  border-radius: 1vw 1vw 1vw 1vw;
  margin-top: -10vw;
  margin-left: 2vw;
  width: 13vw;
  height: 5vw;
  font-weight: bold;
  font-size: 1.2vw;
  position: absolute;
  background-color: #f7f8f9;
  color: black;
  display: flex;
  padding-left: 2vw;
  padding-right: 2vw;
  align-items: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-top: -7vw;
}

.cornerthing img{
  width: 3vw;
  border-radius: 2vw;
  margin-right: 1vw;
}

.spacer {
  height: 10vw;
}

.logo {
  position:absolute;
  margin-top: -14vw;
  margin-left: 1.5vw;
}

.logo img {
  width: 4vw;
}

.nav {
  position: absolute;
  background-color: white;
  color: rgb(123, 123, 123);
  display: flex;
  width: 20vw;
  border-right-style: dashed;
  border-right-color: rgb(240, 240, 240);
  padding-top: 15vw;
}

.nav ul {
  padding: 0vw;
  margin: 0;
  list-style: none;
  gap: 1vw;
  font-size: 0.8vw;
  font-family: arial;
}

.nav ul div {
  margin-right: 1vw;

}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  padding: 1vw;
  padding-left: 3.5vw;
}

.nav li {
  width: 20vw;
  overflow: hidden;
}

.nav li:hover {
  background-color: rgb(222, 222, 222);
}

.nav li.active {
  background-color: rgb(240, 240, 240);
}

.nav_links {
  margin-top: 2vw;
}

.container {
  margin-left: 20vw;
  padding-left: 3vw;
  padding-top: 10vw;
}

.container button{
  font-size: 0.7vw;
  background-color: white;
  color: #19bb65;
  outline-style: solid;
  outline-color: #19bb65;
  border: none;
  padding: 0.2vw 0.4vw;
  font-weight: bold;
  border-radius: 0.5vw;
}

.container button:hover {
  outline-color: #0f5831;
 color: #0f5831;
}

.container button:active {
 outline-color: #19bb65;
 color: #19bb65;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #dbdbdb;
  border-radius: 1vw;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8c8c8c;
}

.message_header {
  font-size: 2.25vw;
}

.fa {
  color: red;
}

.Loginbar {
  position: absolute;
  height: 10vw;
  display: flex;
}

.Loginbar button {
  font-size: 1.5vw;
  background-color: #19bb65;
  color: white;
  border: none;
  padding: 0.7vw 1vw;
  font-weight: bold;
  margin-left: 3vw;
  margin-top: 1.5vw;
}

.Loginbar select {
  font-size: 1.5vw;
  background-color: #19bb65;
  color: white;
  border: none;
  padding: 0.7vw 1vw;
  font-weight: bold;
  margin-left: 3vw;
  margin-top: 1.5em;
}

.Loginbar button:hover {
  background-color: #0f5831;
  color: white;
}

.Loginbar button:active {
  background-color: #19bb65;
  color: white;
}

.Topbar {
  position: absolute;
  margin-left: 20vw;
  padding-left: 1vw;
  margin-top: 3vw;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 77%;
}

.Topbar a {
  text-decoration: none;
  font-size: 0.8vw;
  background-color: #19bb65;
  color: white;
  border: none;
  padding: 0.3vw 0.5vw;
  font-weight: bold;
}

.Topbar button:hover {
  background-color: #0f5831;
}

.Topbar button:active {
  background-color: #19bb65;
}

.Topbar a:hover {
  background-color: #0f5831;
}

.Topbar a:active {
  background-color: #19bb65;
}

.Topbar img {
  width: 2.3vw;
  border-radius: 2vw;
  margin-right: 1vw;
  vertical-align: middle;
}

.Topbar button {
  font-size: 0.8vw;
  background-color: #19bb65;
  color: white;
  border: none;
  padding: 0.3vw 0.5vw;
  font-weight: bold;
}

.Topbar li:hover {
  background-color: rgb(222, 222, 222);
}

.Topbar li.active {
  background-color: rgb(240, 240, 240);
}

.user-auth {
  list-style: none;
  display: flex;
}

.user-auth a {
  text-decoration: none;
  color: inherit;
  text-decoration: none;
  padding: 0.7vw 1vw;
}



.component_header {
  font-size: 2vw;
  font-weight: bold;
  margin-left: 2vw;
  margin-top: 1.2vw;

}

.component_parent {
  position: absolute;
  font-size: 2.25vw;
  width: 75vw;
  height: 40vw;
  margin-left: -2vw;
  margin-top: -2vw;
}

.component_parent textarea{
  font-family: Arial, Helvetica, sans-serif;
  resize: none;
}

.email_box_top {
  margin-top: 1vw;
  position: relative;
  width: 75vw;
  height: 3vw;
  background-color: #f0f0f0;
  border-radius: 1vw 1vw 0vw 0vw;
}

.email_box {
  position: relative;
  width: 75vw;
  height: 28vw;
  background-color: white;
  border-radius: 1vw 1vw 1vw 1vw;
  margin-left: 1vw;
  margin-top: 1vw;
  box-shadow: 0.5vw 0.5vw 0.9vw rgba(0, 0, 0, 0.05);
}

.email_searchBar {
  position: relative;
  width: 71.4vw;
  height: 2vw;
  background-color: #fafafa;
  border: 0.1vw solid rgb(201, 201, 201);
  border-radius: 0.5vw 0.5vw 0.5vw 0.5vw;
  margin-top: 1vw;
  margin-left: 1.5vw;
  font-size: 1.5vw;
  font-weight: 500;
  color: #2e2e2e;
}

.email_box_top_text {
  position: absolute;
  font-size: 1.4vw;
  font-weight: bold;
  color:#3c3c3c;
  margin-left: 2.5vw;
  margin-top: 0.8vw;
}

.email_info_header{
 position: relative;
 width: 74vw;
 height: 2.8vw;
 margin-left: .5vw;
 margin-top: 0.2vw;
 border-radius: 0.5vw 0.5vw 0.5vw 0.5vw;
 background-color: #f0f0f0;
}

.email_info_header_text{
position: absolute;
font-size: 2vw;
margin-top: -1.8vw;
margin-left: 4vw;
font-size: 1vw;
font-weight: bold;
opacity: 0.6;
display: grid;
grid-template-columns: repeat(4, 16vw);
}

.inbox_icon{
opacity: 0.6;
position: relative;
margin-left: 0.8vw;
font-size: 1.5vw;
}

.email_receive_box{
  position: relative;
  width: 65vw;
  height: 18vw;
  margin-left: 1.5vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;

}

.email_receive_parent{
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 16vw);
  width: 65vw;
  height: 3.5vw;
  font-size: 1vw;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Email-grid-item-2{
  margin-left: -3vw;
}

.Email-grid-item-3{
  margin-left: -4vw;
}

.Email-grid-item-4{
  margin-left: 6vw;
}

.Receive-grid-item-1{
  padding-right: 3vw;
  font-weight: bold;
  margin-top: 1vw;
  margin-left: 3vw;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Receive-grid-item-2{
  padding-right: 3vw;
  margin-top: 1vw;
  margin-left: 0vw;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Receive-grid-item-3{
  margin-top: 1vw;
  margin-left: -1vw;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Receive-grid-item-4{
  margin-top: 1vw;
  margin-left: 9vw;
  width: 20vw;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile{
  font-size: 2vw;
}

.profile img{
  width: 20vw;
}

.profile_logo{
  display: flex;
  justify-content: center;

}

.profile_logo img{
  width: 10vw;
  margin-left: -10vw;
}

.profile_orgname {
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-left: -10vw;
}

.profile_maincontent {
  margin-left: -10vw;
  padding: 0vw 5vw;
}

.profile_contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vw 5vw;
}

.profile_description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vw 5vw;
}

.profile_bottom_img{
  display: flex;
  justify-content: center;
  margin-left: -10vw;
}

.profile_bottom_img img {
  width: 70vw;
}

.feed_item {
  width: 40vw;
  box-shadow: 0.5vw 0.5vw 0.9vw rgba(0, 0, 0, 0.05);
  border-radius: 1vw 1vw 1vw 1vw;
  outline-style: solid;
  outline-color: #dbdbdb;
  outline-width: 0.01vw;
  margin-top: 1.5vw;
  margin-bottom: 1.5vw;
  font-size: 1vw;
}

.feed_title {
  display: flex;
  align-items: center;
  padding: 0.5vw;
}

.feed_title div {
  margin-left: 1vw;
}

.feed_title img {
  width: 2.3vw;
  border-radius: 2vw;
}

.post img{
  width: 40vw;
}

.post_caption {
  padding: 1vw;
  display: flex;
  justify-content: space-between;
  margin-right: 0.6vw;
}

.trash_icon {
  font-size: 1.3vw;
  
}

.analytics {
  justify-content: center;
  margin-top: 3vw;
  margin-right: 5vw;
  text-align: center;
}

.analytics_chart {
  width: 20vw;
  margin: 3vw;
  padding: 0vw 2vw 1vw 2vw;
  display: inline-block;
  box-shadow: 0.5vw 0.5vw 0.9vw rgba(0, 0, 0, 0.05);
  border-radius: 1vw 1vw 1vw 1vw;
  outline-style: solid;
  outline-color: #dbdbdb;
  outline-width: 0.1vw;
  background-color: white;
}

.analytics_heading {
  font-size: 1.5vw;
  padding: 1vw;
  font-weight: bold;
}

.analytics_subscript {
  font-size: 1vw;
}

.calendar_topbar {
  font-size: 2.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -4vw;
  font-weight: bold;
}

.calendar_topbar button {
  width: 2vw;
  height: 2vw;
  margin-left: 2vw;
  margin-right: 2vw;
  border-radius: 2vw;
  outline-width: 0vw;
  font-size: 2vw;
  font-weight: bold;
}

.calendar_element {
  font-size: 1vw;
  padding-left: 0.5vw;
  padding-top: 0.5vw;
  width: 13.5%;
  height: 18%;
  outline-style: solid;
  outline-width: 0.01vw;
  outline-color: #dbdbdb;
  display: inline-flex;
}

.calendar_parent {
  width: 75vw;
  height: 50vw;
  
}

.calendar_element.current_date {
  background-color: #dbdbdb;
}

.element_content {
  display: flex;
  flex-direction: column;
}

.calendar_event {
  background-color: #19bb65;
  color: white;
  font-weight: bold;
  font-size: 0.7vw;
  width: 8vw;
  height: 1vw;
  margin-left: 0.5vw;
  padding: 0.25vw;
  padding-bottom: 0.75vw;
  margin-bottom: 0.1vw;
  border-radius: 0.3vw;
  align-items: center;
  text-overflow: ellipsis " [..]";
}

.login_page {
  margin-top: 15vw;
  margin-left: 15vw;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3vw;
}

.login_page h3 {
  font-size: 2vw;
}

.login_page button {
  font-size: 1vw;
  background-color: #19bb65;
  color: white;
  border: none;
  padding: 0.3vw 0.5vw;
  font-weight: bold;
}

.login_page button:hover {
  background-color: #0f5831;
}

.login_page button:active {
  background-color: #19bb65;
}

.login_page input {
  font-size: 1vw;
  margin: 0.2vw;
}

.error {
  background-color: #fac8c2;
  color: #520005;
  height: 2vw;
  width: 12vw;
  border-radius: 0.5vw;
  font-size: 1vw;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  padding: 0.1vw;
  padding-left: 0.5vw;
  text-decoration: underline;
  margin-left: 8.8vw;
  box-shadow: 0.2vw 0.2vw 0.2vw rgba(0, 0, 0, 0.5);
}

.user-auth {
  margin-top: 2vw;
}

.login_page input[type="file" i]::-webkit-file-upload-button {
  border-radius: 1vw;
}

.login_page input[type="file" i]::-webkit-file-upload-button:hover {
  background-color: #adadad;
}

.home_post_buttons {
  display: flex;
  justify-content: space-around;
  margin-left: 2vw;
  width: 90%;
  margin-top: -4vw;
  margin-bottom: 0vw;
}

.home_post_buttons button {
  font-size: 1vw;
  border-radius: 2vw;
  outline-width: 0.15vw;
  padding: 0.4vw;
  padding-right: 0.7vw;
}

.create_buttons button {
  font-size: 1.5vw;
  border-radius: 1vw;
  outline-width: 0.15vw;
  padding: 0.6vw;
  padding-right: 0.7vw;
  margin: 1vw;
}

.previous_chat_parent {
  width: 18vw;
  outline-color: #dbdbdb;
  border-radius: 2vw;
  margin-left: -1vw;
  padding: 1vw;
  outline-style: solid;
}

.chat_window_parent {
  width: 70vw;
  display: flex;
}

.chat_window {
  border-left: #dbdbdb;
  border-left-style: solid;
  height: 40vw;
  width: 50vw;
  overflow-y: scroll;
  overflow-anchor: visible;
}

.new_chat_creator {
  margin-top: 10%;
}

.chat_window button {
  margin-left: 5vw;
}

.join_chat_container {
  height: 40vw;
  width: 20vw;
}

.chat_footer {
  position: absolute;
  margin-top: 41vw;
  margin-left: 23vw;
}

.chat_footer input {
  border-radius: 1vw;
  padding: 0.5vw;
}

.chat_footer button {
  font-size: 0.7vw;
  margin-left: 0.3vw;
  border-radius: 2vw;
  padding: 0.5vw;
  width: 2vw;
  color: #2d9afc;
  outline: #2d9afc;
  outline-style: solid;
}

.chat_footer button:hover {
  outline-color: #144e80;
 color: #144e80;
}

.chat_footer button:active {
 outline-color: #2d9afc;
 color: #2d9afc;
}


.message_you {
  display: inline-block;
  background-color: #2d9afc;
  font-size: 1vw;
  color: white;
  border-radius: 1vw;
  margin-top: 1vw;
  margin-left: 1vw;
  min-width: 0vw;
  max-width: 40vw;
  padding: 0.5vw;
}

.message_other {
  display: inline-block;
  background-color: #e9e9eb;
  font-size: 1vw;
  color: #646c72;
  border-radius: 1vw;
  margin-top: 1vw;
  margin-left: 1vw;
  min-width: 0vw;
  max-width: 40vw;
  padding: 0.5vw;
}

.message_author {
  font-size: 0.7vw;
  margin-left: 1.5vw;
}

#popup {
  display: none;
  position: absolute;
  margin-top: 2.5%;
  margin-left: 50%;
  padding: 2vw;
  background-color: white;
  border-radius: 0.5vw;
  box-shadow: 1vw 1vw 2em rgba(0, 0, 0, 0.1);
  outline-style: solid;
  outline-color: #dbdbdb;
  z-index: 9999;
}

#popup textarea {
  outline-style: none;
  border-radius: 1vw;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0.5vw;
  resize: none;
}

#popup input {
  outline-style: none;
  border-radius: 1vw;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 0.5vw;
}

#popup2 {
  display: none;
  position: absolute;
  margin-top: 2.5%;
  margin-left: -30%;
  width: 15vw;
  padding: 2vw;
  padding-bottom: 5vw;
  padding-right: 7vw;
  background-color: white;
  border-radius: 0.5vw;
  box-shadow: 1vw 1vw 2em rgba(0, 0, 0, 0.1);
  outline-style: solid;
  outline-color: #dbdbdb;
  z-index: 9999;
}

#popup2 textarea {
  outline-style: none;
  border-radius: 1vw;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0.5vw;
  resize: none;
}

#popup3 {
  display: none;
  position: absolute;
  margin-top: 7vw;
  margin-left: -2vw;
  width: 20vw;
  padding: 2vw;
  background-color: white;
  border-radius: 0.5vw;
  box-shadow: 1vw 1vw 2em rgba(0, 0, 0, 0.1);
  outline-style: solid;
  outline-color: #dbdbdb;
}

#popup3 textarea {
  outline-style: none;
  border-radius: 1vw;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0.5vw;
  width: 100%;
  height: 20vw;
  resize: none;
}

#popup3 input {
  outline-style: none;
  padding: 0.5vw;
  border-radius: 1vw;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 0.5vw;
}

#popup4 {
  display: none;
  position: absolute;
  margin-top: 1vw;
  margin-left: 0vw;
  width: 20vw;
  padding: 2vw;
  padding-bottom: 5vw;
  padding-right: 7vw;
  background-color: white;
  border-radius: 0.5vw;
  box-shadow: 1vw 1vw 2em rgba(0, 0, 0, 0.1);
  outline-style: solid;
  outline-color: #dbdbdb;
}

#popup4 textarea {
  outline-style: none;
  border-radius: 1vw;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0.5vw;
  width: 10vw;
  resize: none;
}

#popup4 input {
  outline-style: none;
  padding: 0.5vw;
  border-radius: 1vw;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 0.5vw;
}

.profile_edit {
  margin-top: 2vw;
  width: 20vw;
  padding: 2vw;
  background-color: white;
  border-radius: 1vw;
  box-shadow: 1vw 1vw 2em rgba(0, 0, 0, 0.1);
  outline-style: solid;
  outline-color: #dbdbdb;
}

.profile_edit textarea {
  outline-style: none;
  border-radius: 1vw;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0.5vw;
  width: 18vw;
  resize: none;
}

.profile_edit input {
  outline-style: none;
  padding: 0.5vw;
  border-radius: 1vw;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 0.5vw;
}

.login_message {
  font-size: 2vw;
  margin-top: 10%;
  padding-bottom: 20%;
}

.media_selector_button {
  font-size: 15px;
  margin: 5%;
  font-weight: bold;
}

.media_selector_button button {
  font-size: 1vw;
  padding: 2%;
  margin: 5%;
}

.insta_login_message {
  color: red;
  font-size: 1vw;
  margin-left: 10%;
  margin-top: 2%;
  background-color: white;
  padding: 1vw;
  width: 11.5vw;
  border-radius: 0.5vw;
  box-shadow: 1vw 1vw 2vw rgba(0, 0, 0, 0.1);
  outline-style: solid;
  outline-color: #dbdbdb;
}

.notification-icon {
  position: relative;
  display: inline-block;
  font-size: 25px;
  margin-right: 15px;
}

.notification-count {
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 0.2vw 0.5vw;
  font-size: 1vw;
  position: absolute;
  top: -0.8vw;
  right: -0.8vw;
}

.notifications-dropdown {
  background-color: white;
  border: 1px solid #ccc;
  position: absolute;
  width: 200px;
  top: 50px;
  right: 0;
  z-index: 1;
}

.notification-item {
  color: black;
  padding: 1vw;
  border-bottom: 1px solid #eee;
  font-size: 15px;
}

.notifications-dropdown a {
  font-weight: normal;
  padding: 0vw;
  border-bottom: 1px solid #eee;
  font-size: 15px;
}

.notification-item:last-child {
  border-bottom: none;
}

#notificationPopup {
  display: none;
}

.comment_bar {
  display: inline-flex;
  align-items: center;
}
.comment_bar textarea {
  margin: 1vw;
  width: 30vw; 
  height: 1.5vw; 
  font-size: 1vw;
}
.comment_bar button {
  margin-left: -1vw;
  height: 1.5vw;
}

.like_bar button {
  outline-style: none;
  margin-left: 1vw;
  margin-right: 1vw;
  font-size: 1.2vw;
}

.likeCount {
  margin-left: 0.3vw;
  font-size: 0.8vw;
}

.replyContainer{
  margin-left: 5vw;
}

.commentSection {
  display: flex;
  align-items: center;
}

.commentText {
  margin-right: 1vw;
}

.reply_bar {
  display: flex;
  align-items: center;
}

.reply_bar textarea {
  margin-top: 0.5vw;
  margin-bottom: 0.5vw;
  width: 26vw; 
  height: 1.5vw; 
  font-size: 1vw;
}

.reply_bar button {
  margin-top: 0.5vw;
  height: 1.5vw;
}

.social_add {
  position: absolute;
  margin-top: -.75vw;
  margin-left: 5vw;
  list-style-type: none;
}

.social_add a {
    text-decoration: none;
    font-size: 0.8vw;
    background-color: #19bb65;
    color: white;
    border: none;
    width: 12vw;
    padding: 0.3vw 0.5vw;
    font-weight: bold;
}

.social_add a:hover {
  background-color: #0f5831;
}

.social_add a:active {
  background-color: #19bb65;
}

.social_add li {
  width: 12vw;
}

.addpeople_button {
  position: absolute;
  margin-left: 22vw;
  margin-top: -3.5vw;
}
.addpeople_button button {
  font-size: 1vw;
}